.Band {
  background-color: rgb(229 229 229);
  margin-top: 2rem;
  height: 4rem;
  display: flex;
  .button {
    background-color: rgb(147 197 253);
    font-size: 0.75rem;
    color: white;
    display: block;
    margin: auto;
    width: 7rem;
    height: 2rem;
    text-align: center;
    line-height: 2.7;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 5px;
  }
}

/* Small (sm) */
@media (min-width: 640px) {
  .Band {
    background-color: rgb(229 231 235);
    margin-top: 5rem;
    height: 8rem;
    display: flex;
    .button {
      background-color: rgb(248 113 113);
      color: white;
      display: block;
      margin: 1.5rem auto;
      width: 10rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
      transition: 0.5s;
      &:hover {
        color: rgb(248 113 113);
        background-color: white;
      }
    }
  }
}

/* Medium (md) */
@media (min-width: 768px) { /* ... */ }

/* Large (lg) */
@media (min-width: 1024px) { /* ... */ }

/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ }