.Main {
  .foreword {
    margin: 3rem auto 0;
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0;
    }
    p {
      text-align: center;
    }
    .big {
      color: red;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      margin-top: 0.5rem;
    }
    .small {
      font-size: 0.8rem;
      margin-top: 1rem;
      font-weight: 100;
    }
  }
  .intro{
    width: 90%;
    margin: auto;
    .group {
      margin-top: 3rem;
      display: flex;
      .image {
        width: 50%;
        margin: auto;
      }
      .content {
        &Left {
          // padding-top: 5rem;
          width: 50%;
          padding-left: 1rem;
          margin: auto;
          h2 {
            font-size: 1rem;
            margin: auto;
            text-align: center;
          }
          p {
            font-size: 0.75rem;
            font-weight: 100;
            text-align: center;
            margin: auto;
          }
        }
        &Right {
          // padding-top: 5rem;
          width: 50%;
          padding-right: 1rem;
          margin: auto;
          h2 {
            font-size: 1rem;
            margin: auto;
            text-align: center;
          }
          p {
            font-size: 0.75rem;
            font-weight: 100;
            text-align: center;
            margin: auto;
          }
        }
      }
    }
  }
}

/* Small (sm) */
@media (min-width: 640px) {
  .Main {
    .foreword {
      margin: 8rem auto 0;
      h2 {
        font-size: 1.875rem;
        font-weight: 600;
        text-align: center;
      }
      p {
        .big {
          font-size: 1.5rem;
          font-weight: 600;
          text-align: center;
          line-height: 2.5;
          margin-top: 1.25rem;
        }
        .small {
          font-size: 1.125rem;
          text-align: center;
          margin-top: 1.25rem;
          font-weight: 100;
        }
      }
    }
    .intro{
      width: 80%;
      margin: auto;
      .group {
        margin-top: 7rem;
        display: flex;
        .image {
          width: 50%;
        }
        .content {
          &Left {
            padding-top: 5rem;
            width: 50%;
            padding-left: 5rem;
          }
          &Right {
            padding-top: 5rem;
            width: 50%;
            padding-right: 5rem;
          }
          h2 {
            font-size: 1.875rem;
            margin: 0.25rem auto 1.25rem;
          }
          p {
            font-size: 1.125rem;
            font-weight: 100;
          }
        }
      }
    }
  }
}

/* Medium (md) */
@media (min-width: 768px) { /* ... */ }

/* Large (lg) */
@media (min-width: 1024px) { /* ... */ }

/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ }